.sidebar {
    background-color: #2c74b3;
    color: white;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
}

/* New chat button */
.ai-logo {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.ai-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 14px;
    background-color: #2c74b3;
    border: 2px solid #f5f7ff;
}

.ai-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.ai-icon {
    color: #f5f7ff;
    font-size: 20px;
}

/* Thread history */
.ai-history {
    margin: 10px;
    padding: 10px;
    flex: 1; /* takes up remaining vertical space */
    overflow-y: auto; /* scrolls only this area */
}

.ai-history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.ai-history li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

/* Footer */
.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    flex-shrink: 0; /* keeps it visible even if list grows */
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 0.2s ease-in-out;
}

.ai-history li:hover .fa-trash {
    opacity: 1;
    color: white;
}

.fa-trash:hover{
    color:#f87171 !important;
}
