body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass-drafting{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222;
}

/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    background-color: #ebebeb;
    display: flex;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}

.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials,.f-info-brand{
    width: 100%;
    display:flex ;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    align-items: center;
}

.f-info-socials i{
    margin-right: 1rem;
}

/* Cards */

.list-card{
    border: none;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem;
    width: 100%;
    height: 20rem;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.card-link{
    text-decoration: none;
}

.card:hover{
    opacity: 0.7;
}



/* Show page */

.show-img{
    height: 30vh;
    border-radius: 2rem;
}

.btns{
    display: flex;
}

/* --------------MAP--------------- */


#map{
    height: 400px;
    width: 60vw;
}