.homeContainer{
    display:flex;
}

.homeContainer > div:nth-child(odd){
    flex: 0.2;
}

.homeContainer > div:nth-child(even){
    flex: 0.6;
}

.homeContainerLeft{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    align-items: center;
}

.sideBarOptions{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap:1.3rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sideBarOptions > svg{
    max-height: 1.4rem;
    min-height: 1.4rem;
}

.sideBarOptions:hover{
    color: rgb(166, 19, 132);
    transform: scale(1.01);
}