.forgotBody{
   height: 100vh;
    width: 100vw;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp{
    width: 30vw;
    height: 4vh;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border: 1px solid grey;
}

.btn{
    background-color: #2c74b3;
    font-size: 1rem;
    height: 5vh;
    color: white
}

.forgotContainer{
    margin-top: 2rem;
    box-shadow: 5px 5px 10px gray;
    padding: 5rem;
    border-radius: 1rem;
    background-color: #ffffff;
}

#heading{
    font-size: 2.5rem;
    color: #0a2647;
}

@media (max-width: 600px) {
    #heading{
        font-size: 1.5rem;
    }

    .inp{
        font-size: 0.9rem;
        height: auto;
        width: 12rem;
    }
    .forgotContainer{
        width: 60vw;
        padding: 2rem;  
    }
    
}

.resendOTP{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    cursor: pointer;
}