<% layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <h1 class="col-6 offset-3 mb-3 mt-3">Login to StayBloom</h1>
        <div class="col-6 offset-2">
            <form action="/login" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" placeholder="Enter Username" name="username" required class="form-control">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" placeholder="Enter Password" name="password" required class="form-control">
                </div>
                <button class="btn btn-success">Log In</button>
                
            </form>

        </div>
    </div>
</body>