.container{
    padding:1.2rem;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbarOptionContainer{
    display:flex;
}

.buttonJoin{
    width:fit-content;
    font-size: 1.4rem;
    text-align:center;
    border-radius:20px;
    cursor:pointer;
    transition: all 0.3s ease;
    margin-top: 0.8rem;
    user-select: none;
    background-color: rgb(166, 19, 132);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.3rem;
}