.container{
    padding: 1.2rem;
}

/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo{
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
}

/* RIGHT SIDE */
.navbarOptionContainer{
    display: flex;
    align-items: center;
}

/* BUTTON */
.buttonJoin{
    width: fit-content;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    background-color: rgb(166, 19, 132);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.4rem;
}

.buttonJoin:hover{
    background-color: rgb(140, 16, 110);
    transform: translateY(-1px);
}

/* USER SECTION */
.userSection{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.greeting{
    font-size: 1rem;
}

.profileLink{
    font-weight: bold;
    cursor: pointer;
}

.profileLink:hover{
    text-decoration: underline;
}


/* RESPONSIVE */
@media (max-width: 600px){
    .container{
        padding: 0.8rem 1rem;
    }

    .logo{
        font-size: 1.5rem;
    }

    .buttonJoin{
        font-size: 1rem;
        padding-inline: 1rem;
    }
}
